---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import PoweredBy from '../components/PoweredBy.astro';
---

<Layout title="Evidentia: Bridging TradFi & DeFi">
  <div class="site-shell">
    <Header />
    <main>
      <Hero />
      <Marquee />
      <PoweredBy />
    </main>
    <Footer />
  </div>
</Layout>
