---
import Logo from './Logo.astro';
---

<footer class="site-footer">
  <div class="container footer-inner">
    <Logo compact />
    <p><span>Our email:</span> <a href="mailto:hello@evidentia.fi">hello@evidentia.fi</a></p>
  </div>
</footer>
